@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
    font-family: 'Interdisplay';
    src: url('./assets//fonts/InterDisplay-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
    font-display: swap; /* Optional but recommended */
}
@font-face {
    font-family: 'Interdisplay';
    src: url('./assets/fonts/InterDisplay-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
    font-display: swap; /* Optional but recommended */
}

.container{
    max-width: 1296px;
    margin: 0 auto;
    padding: 0 1.5rem;
}

/* Hero section */
.ui-hero-container-text {
    padding-top: 60px;
    position: relative;
    overflow: hidden;
}
.ui-hero-top {
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    text-align: center;
    background-image: linear-gradient(#fff,#fffbeb);
    border: 1px solid #f59e0b;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    padding: 6px 16px;
    display: flex;
    width: fit-content;
}
.text-block-2 {
    color: #d97706;
    font-family: Inter,sans-serif;
    font-weight: 500;
}
.ui-hero-content {
    max-width: 860px;
    margin-left: auto;
    margin-right: auto;
}
.ui-hero-title {
    color: #0f172a;
    text-align: center;
    letter-spacing: -.64px;
    margin-top: 18px;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 64px;
    font-weight: 600;
    line-height: 80px;
}

.ui-hero-text {
    color: #3f4554;
    text-align: center;
    letter-spacing: -.6px;
    margin-top: 24px;
    margin-bottom: 0;
    padding-bottom: 5px;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 30px;
}

.ui-hero-btn {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    justify-content: center;
    margin-top: 28px;
    display: flex;
}

.ui-hero-btn-1 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    color: #0f172a;
    background-image: linear-gradient(#fff,#f8fafc);
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    padding: 12px 20px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    display: flex;
    box-shadow: 0 1px 4px #0f172a14;
}

.text-block-3 {
    line-height: 24px;
}
.ui-hero-btn-2 {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    background-image: linear-gradient(#2563eb,#1d4ed8);
    border: 1px solid #1d4ed8;
    border-radius: 10px;
    align-items: center;
    padding: 12px 16px 12px 20px;
    text-decoration: none;
    display: flex;
    box-shadow: 0 1px 4px #0f172a14;
}
.text-block-4 {
    color: #fff;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/* video section */
.video-top-sec{
    padding-left: 40px;
    padding-right: 40px;
}
.video-section {
    z-index: 2;
    background-image: linear-gradient(#f8f0e500,#f8f0e5);
    border-bottom-right-radius: 48px;
    border-bottom-left-radius: 48px;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;
    position: relative;
    padding-top: 120px;
}

.ui-hero-img {
    background-image: linear-gradient(#fff0,#fff3);
    border: 1px solid #0f172a00;
    border-radius: 32px;
    justify-content: center;
    align-items: stretch;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: flex;
    position: relative;
    box-shadow: 0 12px 32px -4px #0f172a14;
}
.ui-hero-bottom-sec {
    margin-top: 110px;
}

.ui-hero-bottom-title {
    color: #0f172a;
    text-align: center;
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}
.ui-hero-bottom-text {
    color: #3f4554;
    text-align: center;
    max-width: 776px;
    margin: 16px auto 0;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.ui-hero-features-items {
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    background-image: linear-gradient(#2563eb,#1d4ed8);
    border-radius: 26px;
    grid-template-rows: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-columns: 1fr;
    justify-content: space-between;
    max-width: 1296px;
    margin: 52px auto 120px;
    padding-top: 0;
    padding-bottom: 0;
}

.ui-hero-items {
    border-right: 0 solid #000;
    padding: 50px 18px 50px 0;
    display: flex;
}
.div-block-4, .div-block-5, .div-block-6, .div-block-7 {
    padding-left: 36px;
}
.ui-hero-item-title {
    color: #fff;
    letter-spacing: -.2px;
    margin-top: 0;
    margin-bottom: 12px;
    font-family: Interdisplay,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 28px;
}
.ui-hero-item-text {
    color: #bfdbfe;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

.ff-number.new-home-counter {
    color: #fff;
    -webkit-text-fill-color: inherit;
    background-clip: border-box;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 60px;
    display: inline-block;
}
.counter {
    line-height: 98px;
}

.ui-hero-items.first-item-fun, .ui-hero-items.first-item-fun:hover {
    border-top-left-radius: 26px;
    border-bottom-left-radius: 26px;
}
.ui-hero-items:hover {
    background-image: linear-gradient(#ffffff1a .01%,#2d68ec .01%,#3e69df);
}

.ui-hero-items.last-item-fun:hover {
    border-top-right-radius: 26px;
    border-bottom-right-radius: 26px;
}

.div-block-3 {
    background-color: #3b82f6;
    width: 1px;
}
.fun-fact-br-2, .fun-fact-br-3 {
    background-color: #3b82f6;
    width: 1px;
}

@keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
.ff-number {
    font-family: Arial, sans-serif; /* Replace with your preferred font */
    font-size: 2rem; /* Adjust size as needed */
    font-weight: bold;
    color: #333; /* Adjust color as needed */
}
  
.counter {
    display: inline-block;
}
  
.animated {
    animation-duration: 1s;
    animation-fill-mode: both;
}
  
.fadeIn {
    animation-name: fadeIn;
}

/* Features section */
.ui-features-section{
    padding-top: 110px;
}
.ui-features-container.container {
    padding-bottom: 120px;
}
.ui-features-item-list-bock {
    grid-column-gap: 96px;
    grid-row-gap: 96px;
    display: flex;
}
.ui-features-items-content {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    display: flex;
}
.ui-features-items-img{
    width: 100%;
}
.ui-features-item-subtitle {
    color: #2563eb;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.ui-features-item-title {
    color: #0f172a;
    letter-spacing: -.4px;
    margin-top: 10px;
    margin-bottom: 18px;
    font-family: Interdisplay,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}
.ui-features-item-text {
    color: #3f4554;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.ui-features-list-section {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    margin-top: 35px;
    margin-bottom: 13px;
    padding-bottom: 0;
    display: flex;
}
.ui-features-item-list-sec {
    grid-column-gap: 14px;
    grid-row-gap: 14px;
    flex-direction: column;
    display: flex;
}
.ui-features-item-list {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    display: flex;
}
.ui-features-list-text {
    color: #0f172a;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}
.ui-features-item-list svg{
    width: 20px;
    height: 20px;
}
.ui-hero-btn-2.ui-features-btn-2 {
    background-image: linear-gradient(#334155,#1e293b);
    border-color: #1e293b;

}

/* Theme features */
.ui-theme-features-section {
    background-image: linear-gradient(#eaf4ed70,#eaf4ed00);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    position: relative;
    overflow: hidden;
    margin-left: 40px;
    margin-right: 40px;
}
.ui-theme-features-container.container {
    padding: 110px 30px 120px;
    position: relative;
    overflow: hidden;
}
.ui-theme-features-contain {
    z-index: 3;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ui-theme-features-title {
    color: #0f172a;
    text-align: center;
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}
.ui-theme-features-text {
    color: #3f4554;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 52px;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.ui-theme-features-contain-2 {
    z-index: 3;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 110px;
    position: relative;
}
.ui-theme-features-contain-4 {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.ui-theme-features-title-2 {
    color: #0f172a;
    text-align: center;
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}
.ui-theme-features-text-2 {
    color: #3f4554;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 52px;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.ui-theme-features-asset {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 24px;
    display: flex;
}
.ui-theme-features-asset-card._1st-card {
    background-color: #eff6ff;
    border-color: #d1e5ff;
}
.ui-theme-features-asset-card {
    background-color: #fff;
    border: 1px solid #0f172a1a;
    border-radius: 26px;
    width: 100%;
    padding: 40px 40px 0;
}
.ui-theme-asset-title {
    color: #0f172a;
    letter-spacing: -.24px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 24px;
    font-weight: 600;
    line-height: 36px;
}
.ui-theme-asset-text {
    color: #3f4554;
    margin-top: 10px;
    margin-bottom: 41px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.ui-theme-features-asset-card._2st-card {
    background-color: #fdf2f8;
    border-color: #f6dbea;
}
.ui-theme-features-asset-card._3rd-card {
    background-color: #eef2ff;
    border-color: #d9e0f8;
}
.ui-theme-features-asset-card._4th-card {
    background-color: #f0fdf4;
    border-color: #d0f6dc;
}
.ui-theme-features-asset-card._5th-card {
    background-color: #f5f3ff;
    border-color: #dfd9fd;
}

/* Ideal Section */
.ui-ideal-section{
    background-image: linear-gradient(#faeff5 34%,#faeff500);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 120px 30px;
}

.ui-theme-features-contain {
    z-index: 3;
    max-width: 710px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.ui-ideal-item-block {
    z-index: 3;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
    position: relative;
}
.ui-ideal-item {
    background-color: #fff;
    border: 1px solid #0f172a1a;
    border-radius: 26px;
    width: 100%;
    padding: 48px 40px;
}
.heading-3 {
    color: #0f172a;
    letter-spacing: -.2px;
    margin-top: 28px;
    margin-bottom: 10px;
    font-family: Interdisplay,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.paragraph-6 {
    color: #3f4554;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
}

/* Multi Slider */

/* Component Section */
.ui-component-section {
    z-index: 2;
    background-color: #fff;
    padding-bottom: 120px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
}
.ui-component-top {
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.ui-component-title {
    color: #0f172a;
    text-align: center;
    letter-spacing: -.4px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Interdisplay,sans-serif;
    font-size: 40px;
    font-weight: 600;
    line-height: 54px;
}
.text-span-4, .text-span-5 {
    color: #2563eb;
}
.ui-component-grid {
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.ui-component-item {
    border: 1px solid #0f172a1a;
    border-radius: 20px;
    text-decoration: none;
}
.ui-item-component-img {
    border-radius: 20px 20px 0 0;
    width: 100%;
}
.ui-item-component-block {
    border-top: 1px solid #0f172a1a;
    padding: 20px 24px 22px;
}
.ui-item-component-title {
    color: #0f172a;
    margin-top: 0;
    margin-bottom: 6px;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 600;
    line-height: 26px;
}
.ui-item-component-text {
    color: #475569;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ui-faq-section .faq-heading-sec{
    max-width: 530px;
    margin: auto;
}

.ui-faq-bottom {
    flex-direction: column;
    align-items: center;
    display: flex;
}
.ui-all-faq-btn {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    text-align: center;
    background-image: linear-gradient(#fff,#f8fafc);
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    align-items: center;
    width: auto;
    margin-top: 52px;
    margin-bottom: 12px;
    padding: 12px 16px;
    text-decoration: none;
    display: flex;
    box-shadow: 0 1px 4px #cbd5e114;
}
.ui-all-faq-text {
    color: #0f172a;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.ui-faq-btn-icon {
    color: #0f172a;
    font-family: "Fa Solid 900",sans-serif;
    font-size: 16px;
    line-height: 16px;
}


/* Pricing Section */

.ui-pricing-section {
    background-image: linear-gradient(#f8f0e5,#f8f0e500);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 120px 30px 0;
    position: relative;
}
.pricing-page{
    padding-top: 80px;
    padding-bottom: 120px;
}
.ui-price-sec {
    z-index: 3;
    grid-column-gap: 26px;
    grid-row-gap: 26px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    max-width: 1296px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    position: relative;
}
.ui-price-item {
    background-color: #fff;
    border: 1px solid #0f172a1a;
    border-radius: 26px;
    padding: 40px 20px;
    position: relative;
}
.ui-price-item-price {
    color: #0f172a;
    letter-spacing: -2px;
    font-family: Inter,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
    display: inline-block;
}
.ui-price-item-price.price_delete {
    margin-left: 5px;
    font-size: 24px;
    line-height: 38px;
    text-decoration: line-through;
}
.ui-price-item-title {
    color: #0f172a;
    letter-spacing: -.02px;
    margin-top: 12px;
    margin-bottom: 8px;
    font-family: Interdisplay,sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}
.ui-price-item-text {
    color: #475569;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.ui-pricing-btn-sec {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 32px;
    padding-bottom: 32px;
    display: flex;
}
.ui-pricing-btn-1 {
    text-align: center;
    background-color: #2563eb;
    border-radius: 10px;
    width: 100%;
    padding: 12px 16px 12px 20px;
    text-decoration: none;
    display: block;
}
.ui-pricing-btn-text-1 {
    color: #fff;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
}
.ui-pricing-btn-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    text-align: center;
    background-image: linear-gradient(#fff,#f8fafc);
    border: 1px solid #cbd5e1;
    border-radius: 10px;
    justify-content: center;
    width: 100%;
    padding: 12px 20px;
    text-decoration: none;
    display: flex;
    box-shadow: 0 1px 4px #0f172a14;
}
.ui-pricing-btn-text-2 {
    color: #0f172a;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.ui-pricing-btn-list {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-direction: column;
    display: flex;
}
.ui-pricing-btn-list-item {
    grid-column-gap: 8px;
    grid-row-gap: 8px;
    align-items: center;
    display: flex;
}
.ui-pricing-btn-list-item-text {
    color: #0f172a;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 24px;
}
.ui-pricing-btn-1.pricing-btn-two {
    background-color: #16a34a;
}
.ui-pricing-btn-1.pricing-btn-3 {
    background-color: #eab308;
}
.ui-faq-section {
    padding-top: 110px;
    padding-bottom: 120px;
}
.ui-faqs-block {
    max-width: 636px;
    margin-left: auto;
    margin-right: auto;
    border-top: 1px solid #0f172a1a;
}
.ui-faqs-block-item-title-sec {
    cursor: pointer;
}
.ui-faqs-block-item-title {
    color: #0f172a;
    letter-spacing: -.2px;
    font-family: Interdisplay,sans-serif;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
}
.ui-faqs-block-item-text {
    color: #3f4554;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 28px;
}
/*  */

/* Footer */
.ui-footer-section {
    background-image: linear-gradient(#e8f0fc 47%,#e8f0fc00);
    border-top-left-radius: 48px;
    border-top-right-radius: 48px;
    max-width: 100%;
    margin-left: 40px;
    margin-right: 40px;
    padding: 120px 30px 60px;
}
.ui-footer-grid {
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    justify-content: space-between;
    padding-bottom: 120px;
    display: grid;
}

.ui-footer-logo {
    width: 330px;
}
.paragraph-7 {
    color: #475569;
    margin-top: 16px;
    margin-bottom: 32px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.ui-footer-text-social {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    justify-content: flex-start;
    width: 200px;
    height: 22px;
    display: flex;
}
.ui-footer-nav-title {
    color: #0f172a;
    margin-top: 0;
    margin-bottom: 14px;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.ui-footer-nav-lists {
    grid-column-gap: 18px;
    grid-row-gap: 18px;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
}
.ui-footer-nav-item-list {
    flex-direction: column;
    align-items: flex-start;
    text-decoration: none;
    display: flex;
}
.ui-footer-nav-text {
    color: #475569;
    font-family: Inter,sans-serif;
    font-size: 16px;
    line-height: 20px;
}
.ui-footer-bottom-sec {
    grid-column-gap: 158px;
    grid-row-gap: 158px;
    border-top: 1px solid #0f172a1a;
    justify-content: space-between;
    padding-top: 32px;
}
.ui-footer-text-content {
    text-align: center;
}
.ui-footer-copyright {
    color: #56678f;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

/* Comparison Slider */
.ui-theme-features-compare .__rcs-handle-button {
    background-color: white !important;
    box-shadow: unset !important;
}
.__rcs-handle-arrow{
    color: #0f172a !important;
}
.__rcs-handle-line{
    background-color: unset !important;
}

/* Image Slider */
.ui-slider-multi-section {
    margin-left: 20px;
    margin-right: 20px;
    padding-bottom: 120px;
    position: relative;
    overflow: hidden;
}
.ui-slider-multi-container {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    background-color: #0e1826;
    border-radius: 32px;
    justify-content: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
}

.scrollitem {
    height: 900px;
    display: block;
    overflow: hidden;
}
.scrollelem {
    padding-top: 10px;
    margin-bottom: 10px;
}

/* Components page */
.ui-components-section {
    padding: 80px 0;
} 
.text-span-4, .text-span-5 {
    color: #2563eb;
}
.text-span-2 {
    color: #2563eb;
}
.tab-pane {
    display: none;
} 
.tab-pane.active {
    display: block;
}
.tabs-menu {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    text-align: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 56px;
    display: flex;
}
.tab-link-tab-2 {
    color: #475569;
    background-color: #fff;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    padding: 12px 20px;
}
.w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.text-block-6 {
    color: #475569;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.tab-link-tab-2.active {
    color: #fff;
    background-color: #2563eb;
    box-shadow: 0 0 0 4px #3b82f633;
}
.tab-link-tab-2.active .text-block-6 {
    color: #fff;
}

.components-ui-btn{
    padding-top: 44px;
}
  
/* Grid styling */
.ui-component-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    gap: 24px;
}
  
.ui-item-component-img {
    width: 100%;
    height: auto;
    display: block;
}
  
.ui-item-component-block {
    padding: 20px;
}

/* Single Page  */
.components-single-section {
    padding: 80px 20px 0px;
}
.single-header-section {
    max-width: 856px;
    margin-left: auto;
    margin-right: auto;
}
.single-compo-title {
    text-align: center;
    letter-spacing: -.48px;
    margin-top: 0;
    margin-bottom: 20px;
    font-family: Inter,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}
.single-compo-text {
    color: #475569;
    text-align: center;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
}
.ui-hero-btn.ui-features-btn.single-compo-btn {
    justify-content: center;
    margin-top: 32px;
    margin-bottom: 54px;
}
.html-embed-2 .figma-preview-single{
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
}

/* Mobile App */
.inner-page-landing-section {
    z-index: 1;
    padding: 80px 20px 120px;
    position: relative;
}
.inner-page-landing-section .w-layout-grid {
    grid-row-gap: 16px;
    grid-column-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr;
    grid-auto-columns: 1fr;
    display: grid;
}
.inner-page-landing-heading-sec {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
}
.inner-page-landing-heading {
    color: #0f172a;
    text-align: center;
    letter-spacing: -1px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}
.text-span-7 {
    color: #2563eb;
}
.inner-page-landing-sub-head {
    color: #475569;
    text-align: center;
    margin-top: 14px;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 28px;
}
.inner-page-landing-tab-sec {
    margin-top: 65px;
}
.inner-page-tab-item {
    border: 1px solid #cbd5e1;
    border-radius: 24px;
}
.tab-item-img {
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
}
.tab-item-text-sec {
    border-top: 1px solid #e7e8ea;
    justify-content: space-between;
    align-items: center;
    padding: 24px;
    display: flex;
}
.link-5 {
    color: #0f172a;
    font-family: Inter,sans-serif;
    font-size: 22px;
    font-weight: 600;
    line-height: 30px;
    text-decoration: none;
}
.version-text {
    color: #475569;
    margin-top: 8px;
    margin-bottom: 0;
    font-family: Inter,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
}
.tab-item-btn {
    border: 1px solid #cbd5e1;
    border-radius: 50px;
    justify-content: center;
    align-items: center;
    width: 54px;
    height: 54px;
    text-decoration: none;
    display: flex;
}
.btn-inner-page-icon {
    color: #475569;
    font-family: "Fa Solid 900",sans-serif;
    font-size: 26px;
    line-height: 26px;
    transition: opacity .2s;
    display: none;
    transform: rotate(-45deg);
}

.tab-item-btn:hover{
    background-color: #2563EC;
    color: white;
}

/* Website */
.tabs-menu-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
.tabs-menu-2 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    display: flex;
}
.w-tab-link {
    vertical-align: top;
    text-align: left;
    cursor: pointer;
    color: #222;
    background-color: #ddd;
    padding: 9px 30px;
    text-decoration: none;
    display: inline-block;
    position: relative;
}
.tab-link-tab-2-2 {
    background-color: #fff;
    border: 1px solid #cbd5e1;
    border-radius: 8px;
    padding: 12px 20px;
}
.text-block-7 {
    color: #475569;
    font-family: Inter,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}
.tab-link-tab-2-2.w--current {
    background-color: #2563eb;
    box-shadow: 0 0 0 4px #3b82f633;
}
.tab-link-tab-2-2.w--current .text-block-7 {
    color: #fff;
}
.tabs-content {
    margin-top: 56px;
}
.tab-item-btn.w-inline-block:hover{
    background-color: #2563EC !important;
}

/* Licensing */
.licence-section {
    padding: 80px 20px 120px;
}
.licence-container {
    max-width: 1024px;
}
.license-heading {
    color: #0f172a;
    text-align: center;
    margin-top: 0;
    margin-bottom: 40px;
    font-family: Inter,sans-serif;
    font-size: 48px;
    font-weight: 600;
    line-height: 60px;
}
.license-text {
    color: #475569;
    margin-bottom: 25px;
    font-family: Inter,sans-serif;
    font-size: 18px;
    line-height: 30px;
}
.licence-small-title {
    color: #0f172a;
    text-transform: capitalize;
    font-family: Inter,sans-serif;
    font-size: 30px;
    font-weight: 600;
}
.license-text.text-spce-zero {
    margin-bottom: 5px;
}
.heading-4 {
    color: #0f172a;
    text-align: left;
    margin-top: 60px;
    font-family: Inter,sans-serif;
    font-weight: 600;
    font-size: 38px;
    line-height: 44px;
}

  
/* Responsive adjustments */
@media(max-width: 1440px){
    .ui-slider-multi-container {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1024px) {

    /* video */
    .video-top-sec {
        padding-left: 20px;
        padding-right: 20px;
    }
    .video-section {
        padding-left: 10px;
        padding-right: 10px;
    }

    /* Features */
    .ui-features-item-list-bock {
        grid-column-gap: 30px;
        display: flex;
    }

    /* Card */
    .ui-theme-features-section {
        margin-left: 20px;
        margin-right: 20px;
    }
    /* Image slider */
    .scrollitem {
        height: 600px;
    }

    /* Pricing */
    .ui-pricing-section {
        margin-left: 20px;
        margin-right: 20px;
        padding: 120px 10px 0;
    }

    /* Idea */
    .ui-ideal-section {
        margin-left: 20px;
        margin-right: 20px;
        padding: 120px 10px;
    }


    /* Footer */
    .ui-footer-section {
        margin-left: 20px;
        margin-right: 20px;
        padding: 120px 10px 60px;
    }
    .ui-footer-grid {
        grid-template-columns: 1fr 1fr 1fr;
        padding-bottom: 100px;
    }
}


@media (max-width: 768px) {
    .ui-component-title {
      font-size: 36px;
    }
    
    .tabs-menu {
      flex-wrap: wrap;
    }
    
    .tab-link-tab-2 {
      padding: 8px 16px;
      font-size: 14px;
    }

    /* video */
    .video-top-sec {
        padding-left: 20px;
        padding-right: 20px;
    }
    .video-section {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 100px;
    }
    .ui-hero-bottom-sec {
        margin-top: 90px;
    }

    /* Features */
    .ui-features-section {
        padding-top: 90px;
    }
    .ui-features-item-list-bock {
        grid-row-gap: 60px;
        display: flex;
        flex-direction: column;
    }
    .ui-features-item-list-bock._1st-features-reverse {
        grid-row-gap: 60px;
        display: flex;
        flex-direction: column-reverse;
    }
    .ui-features-container.container {
        padding-bottom: 100px;
    }

    /* Image comparison */
    .ui-theme-features-container.container {
        padding: 90px 20px 100px;
    }

    .ui-theme-features-section {
        margin-left: 20px;
        margin-right: 20px;
    }

    .ui-theme-features-contain-2 {
        padding-top: 90px;
    }

    /* Counting */
    .ui-hero-features-items {
        grid-template-columns: repeat(2, 1fr);
        margin: 52px auto 100px;
    }
    .ui-hero-items.first-item-fun, .ui-hero-items.first-item-fun:hover {
        border-top-left-radius: 26px;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }
    .ui-hero-items.second-item:hover{
        border-top-left-radius: unset;
        border-top-right-radius: 26px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }
    .ui-hero-items.third-item:hover{
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: 26px;
    }
    .ui-hero-items.last-item-fun:hover {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: 26px;
        border-bottom-left-radius: unset;
    }

    /* Ideia */
    .ui-ideal-section {
        margin-left: 20px;
        margin-right: 20px;
        padding: 100px 0px;
    }
    .ui-ideal-item-block {
        grid-template-columns: 1fr 1fr;
    }

    /* Image slider */
    .ui-slider-multi-section {
        padding-bottom: 100px;
    }
    
    .scrollitem {
        height: 400px;
    }

    /* Components section */
    .ui-component-section {
        padding-bottom: 100px;
        padding-left: 0px;
        padding-right: 0px;
    }

    /* Pricing */
    .ui-pricing-section {
        padding: 100px 0 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .ui-price-sec {
        grid-template-columns: 1fr;
    }
    .ui-price-item {
        padding: 40px 40px;
        max-width: 500px;
        margin: auto;
    }

    /* FAQs */
    .ui-faq-section {
        padding-top: 100px;
        padding-bottom: 100px;
    }

    /* CTA */
    .ui-cta-section {
        padding-bottom: 100px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .ui-cta-sec {
        flex-direction: column;
    }
    .ui-cta-btn-sec {
        justify-content: center;
        align-items: center;
        width: 100%;
        display: flex;
        padding-top: 30px;
    }
    .ui-cta-text-sec {
        text-align: center;
    }

    /* Inner page */
    .inner-page-landing-section .w-layout-grid {
        grid-template-columns: 1fr;
    }
    .inner-page-landing-section {
        padding: 80px 20px 100px;
    }
    .licence-section {
        padding: 80px 20px 100px;
    }
    .heading-4 {
        font-size: 32px;
    }

    /* Footer */
    .ui-footer-grid {
        grid-template-columns: 1fr 1fr;
        padding-bottom: 100px;
    }
    .ui-footer-section {
        padding: 100px 10px 60px;
    }
}
  
@media (max-width: 575px) {
    .ui-component-grid {
      grid-template-columns: 1fr;
    }

    /* Hero */
    .ui-hero-title {
        font-size: 40px;
        line-height: 55px;
    }
    .video-section {
        padding-left: 0;
        padding-right: 0;
        padding-top: 80px;
    }
    .ui-hero-bottom-title {
        font-size: 35px;
        line-height: 45px;
    }
    .ui-hero-bottom-sec {
        margin-top: 80px;
    }

    .ui-hero-btn {
        width: 100%;
        display: flex;
    }

    .ui-features-items-content .ui-hero-btn-2 {
        padding: 12px 6px 12px 12px;
        font-size: 16px;
    }
    .ui-features-items-content .ui-hero-btn-1 {
        grid-column-gap: 8px;
        grid-row-gap: 8px;
        padding: 12px 12px;
        font-size: 16px;
    }

    /* Counting */
    .ui-hero-features-items {
        grid-template-columns: repeat(1, 1fr);
        margin: 52px auto 60px;
    }

    .ui-hero-items.first-item-fun, .ui-hero-items.first-item-fun:hover {
        border-top-left-radius: 26px;
        border-top-right-radius: 26px;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }
    .ui-hero-items.second-item:hover{
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }
    .ui-hero-items.third-item:hover{
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: unset;
        border-bottom-left-radius: unset;
    }
    .ui-hero-items.last-item-fun:hover {
        border-top-left-radius: unset;
        border-top-right-radius: unset;
        border-bottom-right-radius: 26px;
        border-bottom-left-radius: 26px;
    }

    /* Features */
    .ui-features-section {
        padding-top: 80px;
    }
    .ui-features-item-title {
        font-size: 35px;
        line-height: 45px;
    }
    .ui-features-container.container {
        padding-bottom: 80px;
    }
    .ui-theme-features-container.container {
        padding: 80px 20px 80px;
    }
    .ui-theme-features-title {
        font-size: 32px;
        line-height: 45px;
    }
    .ui-features-list-section {
        grid-row-gap: 10px;
        display: flex;
        flex-direction: column;
    }
    /* Card section */
    .ui-theme-features-contain-2 {
        padding-top: 80px;
    }
    .ui-theme-features-title-2 {
        font-size: 35px;
        line-height: 45px;
    }
    .ui-theme-features-asset {
        display: flex;
        flex-direction: column;
    }

    /* Ideia */
    .ui-ideal-section {
        padding: 80px 0px;
    }
    .ui-ideal-item-block {
        grid-template-columns: 1fr;
    }

    /* Multi silder */
    .ui-slider-multi-section {
        padding-bottom: 80px;
    }
    .ui-component-title {
        font-size: 35px;
        line-height: 45px;
    }
    .ui-component-section {
        padding-bottom: 80px;
        padding-left: 0px;
        padding-right: 0px;
    }
    .scrollitem {
        height: 300px;
    }
    .third-slider, .fourth-slider{
        display: none;
    }

    /* Pricing */
    .ui-pricing-section {
        padding: 80px 0 0;
        margin-left: 20px;
        margin-right: 20px;
    }
    .pricing-page {
        padding-top: 80px;
        padding-bottom: 80px;
    }
    
    /* FAQs */
    .ui-faq-section {
        padding-top: 80px;
        padding-bottom: 80px;
        padding-left: 20px;
        padding-right: 20px;
    }
    /* CTA */
    .ui-cta-section {
        padding-bottom: 80px;
    }
    .ui-cta-btn-sec .ui-hero-btn.ui-cta-btn{
        display: flex;
        flex-direction: column;
    }

    /* Inner page */
    .inner-page-landing-heading {
        font-size: 35px;
        line-height: 45px;
    }
    .inner-page-landing-section {
        padding: 80px 0 80px;
    }
    .license-heading {
        font-size: 35px;
        line-height: 45px;
    }
    .licence-section {
        padding: 80px 0 80px;
    }
    .licence-small-title {
        font-size: 24px;
        line-height: 34px;
    }

    /* Footer */
    .ui-footer-section {
        margin-left: 20px;
        margin-right: 20px;
        padding: 80px 20px 60px;
    }
    .ui-footer-grid {
        grid-template-columns: 1fr;
        padding-bottom: 80px;
    }
    .ui-footer-logo {
        width: unset;
    }
}


